html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
  min-width:100%;
  min-height:100vh;
  overflow-y:hidden;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.my-container {
    background-image: url('../img/background.png');
    min-height: 100vh;
    background-size: cover;
    overflow-y:hidden;
    background-repeat: no-repeat;
}
.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -55px;
    position: relative;
    z-index: 2;
}
.fit-content {
    width: fit-content;
}
a:hover {
    cursor:pointer;
}

.my-control-label {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 0.8em;
    top: -45px;
    width: 100%;
    left: 4%;
    color: #969696;
}
.my-form-control {
    font-size: 1em;
    padding: 1rem 1.3rem 0.3rem 1rem;
    color: black
}
.container1 {
    padding-top: 50px;
    margin: auto;
}
.logo {
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height:5%!important;
}
.p-6 {
    padding: 3% 5% !important;
}

.p-20 {
    padding:15% 20% 10%;
}
.fs-0 {
    font-size:12px;
}